.conference-idea {
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(200, 190, 255, 0) 0%,
      rgba(200, 190, 255, 0.2) 50%,
      rgba(200, 190, 255, 0.5) 100%
  );

  //background-image: url(../img/conference-idea-bg.png);


  //@include rm(1024){
  //  &:before {
  //    position: absolute;
  //    content: '';
  //    bottom: -170px;
  //    left: 50%;
  //    transform: translateX(-50%);
  //    width: 1440px;
  //    height: 494px;
  //    background: url("../img/lines-bg.png");
  //    background-repeat: no-repeat;
  //    background-position: left bottom;
  //    background-size: contain;
  //    mix-blend-mode: plus-lighter;
  //    z-index: 1;
  //
  //  }
  //}


  //overflow: hidden;

  //&__ellipses {
  //  position: relative;
  //
  //  & .ellipse {
  //
  //    &--blue {
  //      width: 736px;
  //      height: 218px;
  //      top: 350px;
  //      left: 315px;
  //      transform: rotate(-14deg);
  //    }
  //
  //    &--rose {
  //      top: 551px;
  //      right: -357px;
  //      width: 736px;
  //      height: 218px;
  //      transform: rotate(19deg);
  //    }
  //  }
  //}

  &__ellipses {
    position: relative;

    & .ellipse {
      &--blue {
        width: 300px;
        height: 100px;
        top: 100px;
        left: 50px;
        transform: rotate(-14deg);

        @include rm(640) {
          width: 400px;
          height: 130px;
          top: 150px;
          left: 100px;
        }

        @include rm(768) {
          width: 500px;
          height: 150px;
          top: 200px;
          left: 200px;
        }

        @include rm(1024) {
          width: 600px;
          height: 180px;
          top: 250px;
          left: 250px;
        }

        @include rm(1220) {
          width: 736px;
          height: 218px;
          top: 350px;
          left: 315px;
        }
      }

      &--rose {
        width: 300px;
        height: 100px;
        top: 200px;
        right: -50px;
        transform: rotate(19deg);

        @include rm(640) {
          width: 400px;
          height: 130px;
          top: 300px;
          right: -100px;
        }

        @include rm(768) {
          width: 500px;
          height: 150px;
          top: 400px;
          right: -180px;
        }

        @include rm(1024) {
          width: 600px;
          height: 180px;
          top: 480px;
          right: -250px;
        }

        @include rm(1220) {
          width: 736px;
          height: 218px;
          top: 551px;
          right: -357px;
        }
      }
    }
  }



  &__wrapper {
    position: relative;
    z-index: 2;
  }

  /* ===== TITLE ===== */
  &__title {
    max-width: 520px;
    margin-bottom: 32px;

    @include rm(768) {
      margin-bottom: 48px;
    }
  }

  /* ===== TOP TEXT BLOCK ===== */
  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;

    @include rm(768) {
      flex-direction: row;
      gap: 32px;
    }
    @include rm(1220) {
      margin-bottom: 90px;
    }
  }

  &__text {
    flex: 1 1 0;
    font-size: 14px;
    line-height: 1.6;
    color: #2b1636;

    strong {
      display: block;
      font-weight: 700;
      margin-bottom: 8px;
      text-transform: uppercase;
    }

    @include rm(1024) {
      font-size: 15px;
    }
  }

  /* ===== META CARDS ===== */
  &__meta {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include rm(640) {
      flex-direction: row;
      gap: 20px;
    }
  }

  &__meta-item {
    flex: 1 1 0;
    padding: 20px 22px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    //background: rgba(243, 241, 241, 0.12);
    border: 1px solid rgba(201, 201, 201, 0.6);

    @include rm(480) {
      border: 1px solid rgba(255, 255, 255, .6);
    }
    @include rm(1024) {
      padding: 24px 26px;
    }
  }

  &__meta-img {
    margin-bottom: 20px;
  }
  &__meta-title {
    font-family: $ital-font;
    //font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 8px;
    color: #0f172a;

    @include rm(768){
      font-size: 20px;
    }
    @include rm(1024){
      font-size: 22px;
    }
  }

  &__meta-text {
    font-size: 16px;
    line-height: 1.5;
    color: #2b1636;

    //@include rm(768){
    //  font-size: 18px;
    //}
    @include rm(1024){
      font-size: 18px;
    }
  }
}


.conference-idea .wave-animation {
  //left: 50%;
  //transform: translateX(-50%);
  top: auto;
  bottom: -400px;
}
