.event {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;

  &.block {
    @include rm(1024) {
      padding-top: 130px;
      padding-bottom: 130px;
    }

    @include rm(1360) {
      padding-top: 187px;
      padding-bottom: 170px;
    }
  }

  &__content {
    max-width: 570px;
    margin: 0 auto;

    @include rm(1024) {}

    @include rm(1220) {
      max-width: 700px;
      padding-left: 50px;
    }

    @include rm(1360) {
      max-width: 770px;
      padding-left: 64px;
    }
  }

  &__title {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;

    @include rm(1024) {
      max-width: 200px;
      margin: 0 !important;
      position: absolute;
      top: -77px;
      left: 25px;
      font-size: 22px;
      text-align: left;
    }

    @include rm(1220) {
      text-align: left;
      font-size: 30px;
    }

    @include rm(1360) {
      max-width: 280px;
      top: -114px;
      font-size: 37px;
    }

    .title-accent {
      font-size: 1.57em;
    }
  }

  &__subtitle {
    margin-bottom: 15px;
    font-family: $ital-font;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.2;

    @include rm(1024) {
      font-size: 32px;
    }

    @include rm(1220) {
      font-size: 36px;
    }

    @include rm(1360) {
      margin-bottom: 28px;
      font-size: 40px;
    }
  }

  &__text {
    margin-bottom: 15px;
    line-height: 1.2;
    font-weight: 200;

    @include rm(1024) {}

    @include rm(1220) {
      font-size: 20px;
    }

    @include rm(1360) {
      margin-bottom: 30px;
      font-size: 24px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .diamond-1 {
    display: none;

    @include rm(480) {
      width: 12.6%;
      top: auto;
      left: 5%;
      bottom: -20%;
      display: block;
    }

    @include rm(640) {
      bottom: -28%;
    }

    @include rm(768) {
      bottom: -35%;
    }

    @include rm(1024) {
      left: 5%;
      bottom: -29%;
    }

    &::before {
      top: -13%;
      left: 1%;
      animation-delay: 1.5s;
    }
  }

  .diamond-2 {
    width: 11.25%;
    left: auto;
    top: -8%;
    right: 6%;

    &::before {
      top: -15%;
      left: 1%;
    }

    @include rm(480) {
      top: 10%;
    }

    @include rm(1024) {
      top: -24%;
      right: 6%;
    }
  }
}

.no-webp .event {
  background-image: url(../img/event-bg-mob.png);

  @include rm(480) {
    background-image: url(../img/event-bg.png);
  }
}

.webp .event {
  background-image: url(../img/event-bg-mob.webp);

  @include rm(480) {
    background-image: url(../img/event-bg.webp);
  }
}
