.overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background: rgba(0, 0, 0, .5);
  -webkit-transition: all .5s;
  transition: all .3s;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: visible;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 15px 0;
  z-index: 15;
  transition: opacity 0.3s ease;
  //background: rgba(255, 255, 255, 0.1);


  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.35),
    0 10px 30px rgba(0, 0, 0, 0.15);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  @include rm(1024){
    max-width: 140px;
  }
}

.header__logo {
  width: 150px;
  display: block;
  pointer-events: none;

  @include rm(1024) {
    width: 194px;
  }
}

.nav__btn {
  display: none;
}

.burger {
  cursor: pointer;
}

.header__item {
  display: none;
}

.burger__line {
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 10px;
  background: #000;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.nav {
  max-width: 350px;
  width: 100%;
  padding: 30px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  z-index: 5;
  transition: all .5s;
  transform: translateX(100%);
  height: 100vh;
  backdrop-filter: blur(7px);
  z-index: 20;
  background: rgba(18, 18, 18, 0.40);

  .nav__btn {
    max-width: fit-content;
    margin: 0 auto;
    display: block;
    font-size: 16px !important;
  }
}

.nav.menu-open {
  transform: translateX(0);
}

.nav__burger {
  width: 33px;
  height: 33px;
  cursor: pointer;
  position: relative;
  margin-left: auto;
}

.nav-burger__line {
  background: #fff;
  width: 42px;
  height: 2px;
  display: block;
  transform: rotate(45deg);
  position: absolute;
  top: 16px;
  left: -4px;

  &:last-child {
    transform: rotate(-45deg);
  }
}

.nav__inner {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.nav__list {
  margin-bottom: 20px;
  text-align: center;
}

.nav__item {
  &:not(:last-of-type) {
    margin-bottom: 47px;
  }
}

.nav__link {
  transition: .3s;
  position: relative;
  color: #fff;
  font-family: $ital-font;
  text-transform: uppercase;

  @include rm(480) {
    font-size: 18px;
  }

  &:before {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    background: #fff;
    transition: .3s;
    bottom: -2px;
  }

  &:hover {

    &::before {
      width: 100%;
    }
  }
}

@include rm(480) {
  .nav {
    padding: 60px 25px 44px;
  }
}

@include rm(640) {
  .nav {
    max-width: 450px;
    padding: 60px 40px 60px 45px;
  }
}

@include rm(1024) {
  .burger {
    display: none;
  }

  .nav__btn {
    margin: 0;
    display: block;
    padding: 11px 15px;
    font-size: 16px !important;
  }

  .header__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    @include rm(1024){
      gap: 15px;
    }
    @include rm(1220){
      gap: 30px;
    }
  }

  .header__item {
    display: block;
  }

  .header__link {
    color: #100730;
    font-size: 16px;
    transition: .3s;
    position: relative;
    //text-transform: uppercase;
    font-family: $main-font;

    &.active {
      font-weight: 600;
    }

    &.active:before {
      height: 2px;
      width: 100%;
    }

    &:before {
      position: absolute;
      content: "";
      width: 0;
      height: 1px;
      background: #000;
      transition: .3s;
      bottom: -2px;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}

@include rm(1220) {
  .header__inner {
    margin: 0 auto;
  }
}
