@import "header.scss";
@import "promo.sass";

@import "event.scss";
@import "why.sass";
@import "ceremony.scss";
@import "tickets.sass";
@import "location.sass";
@import "dress.scss";
@import "wait.scss";

@import "galary.sass";
@import "stand.sass";
@import "contact.sass";
@import "socials.scss";
@import "about-us.sass";
@import "about-events";
@import "partners";
@import "info-partners";
@import "speakers";
@import "timeline";
@import "vertical";
@import "conference-idea";
@import "expectations";
@import "expozone";
@import "footer.sass";
