.footer__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 0 31px;
}

.footer__logo-link {
  margin: 0 !important;
}

.lang-switcher {
  position: relative;
  display: inline-block;
}

.lang-switcher__btn {
  background: none;
  border: none;
  //border-radius: 50%;
  width: 160px;
  //height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  //transition: box-shadow 0.2s;
  //box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  outline: none;
  position: relative;
  padding: 5px 0;
  //padding-left: 36px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

//.lang-switcher__btn:focus,
//.lang-switcher__btn:hover {
//  box-shadow: 0 4px 16px rgba(0,0,0,0.25);
//}

.lang-switcher__btn svg {
  //position: absolute;
  //left: 8px;
  //top: 50%;
  //transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.lang-switcher__current {
  margin-left: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.lang-switcher__dropdown {
  position: absolute;
  top: 48px;
  left: 0;
  min-width: 160px;
  background: #222;
  //border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  //padding: 8px 0;
  z-index: 100;
  display: none;
}

.lang-switcher--open .lang-switcher__dropdown {
  display: block;
}

.lang-switcher__item {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 16px;
  font-size: 16px;
  text-align: right;
  transition: background 0.2s, color 0.2s;
  //border-radius: 8px;
}

.lang-switcher__item:hover {
  background: white;
  color: #222;
}

.lang-switcher__item--active {
  background: linear-gradient(93deg,#1069e6,#9c00f0,#ff06b4);
}
