.socials {

  &__ellipses {
    position: relative;

    & .ellipse {

      &--blue {
        width: 975px;
        height: 335px;
        top: -250px;
        right: -110px;
        transform: rotate(-14deg);
      }

      &--red {
        top: 150px;
        left: -295px;
        width: 736px;
        height: 218px;
        transform: rotate(-14deg);
      }

      &--green {
        top: 450px;
        right: 0px;
        width: 736px;
        height: 218px;
        transform: rotate(-14deg);
      }

    }
  }

  &__title {

    @include rm(1024) {
      margin-bottom: 35px;
    }

    @include rm(1220) {
      margin-bottom: 44px;
    }
  }
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;


  @include rm(1024) {
    gap: 20px;
    margin-bottom: 50px;
  }


  &__item {
    width: calc(50% - 8px);
    padding: 15px;
    text-align: center;

    border-radius: 20px;
    background: rgba(255, 255, 255, 0.55);
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6), 0 10px 22px rgba(17, 24, 39, 0.08);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);


    @include rm(640) {
      width: calc(33% - 10px);
    }

    @include rm(768) {
      width: 100%;
      max-width: 220px;
      padding: 25px 15px;
    }

    @include rm(1024) {
      max-width: 230px;
    }

    @include rm(1220) {

      max-width: 200px;
    }

    &:nth-child(2) {
      @include rm(1024) {
        transition-delay: 0.2s;
      }
    }

    &:nth-child(3) {
      @include rm(1024) {
        transition-delay: 0.4s;
      }
    }

    &:nth-child(4) {
      @include rm(1024) {
        transition-delay: 0.6s;
      }
    }

    &:nth-child(5) {
      @include rm(1024) {
        transition-delay: 0.8s;
      }
    }

  }

  &__link {
    color: #2E4653;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 25px;

    @include rm(1024) {
      row-gap: 35px;
    }

    @include rm(1220) {
      row-gap: 51px;
    }
  }

  &__img {
    margin: 0 auto;
    max-height: 173px;
    display: block;
  }

  &__title {
    //text-align: left;
    width: 100%;
    font-size: 18px;
    font-family: $main-font;
    line-height: 1;

    @include rm(1024) {
      font-size: 20px;
    }

  }
}


.fotos {
  &__title {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    font-family: bebas, sans-serif;

    @include rm(768) {
      margin-bottom: 30px;
      font-size: 34px;
    }

    @include rm(1024) {
      margin-bottom: 40px;
      font-size: 36px;
    }

    @include rm(1220) {
      margin-bottom: 50px;
      font-size: 40px;
    }
  }
}

.foto-slider {
  @include rm(640) {
    max-width: 540px;
    margin: 0 auto;
  }

  @include rm(768) {
    max-width: 600px;
  }

  @include rm(1024) {
    display: none;
  }

  &__content {
    padding: 20px 0;
    perspective: 850px;
  }
}

.fotos-gallery {
  display: none;

  @include rm(1024) {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  @include rm(1220) {
    gap: 20px;
  }
}
