.vertical {

  &__title {
    @include rm(640) {
      margin-bottom: 30px;
    }

    @include rm(768) {
      margin-bottom: 40px;
    }

    @include rm(1024) {
      margin-bottom: 50px;
    }

    @include rm(1220) {
      margin-bottom: 65px;
    }
  }

  &__btn {
    max-width: 270px;

    @include rm(1024) {
      transition-delay: 1.4s;
    }
  }

  &__circle-bg {
    width: 300px;
    height: 300px;
    right: -100px;
    bottom: 500px;
    transform: translateY(50%);
    filter: blur(250px);

    @include rm(375) {
      bottom: 50%;
    }

    @include rm(480) {
      width: 400px;
      height: 400px;
    }

    @include rm(1024) {
      width: 500px;
      height: 500px;
      right: -250px;
    }

    @include rm(1440) {
      width: 600px;
      height: 600px;
    }

    @include rm(1440) {}

    &--yellow {
      right: auto;
      left: -100px;
      bottom: 220px;

      @include rm(1024) {
        left: -250px;
      }
    }
  }

  &__bg {
    width: 480px;
    position: absolute;
    left: 50%;
    bottom: 210px;
    transform: translateX(-50%);
    filter: blur(2px);
    mix-blend-mode: color-dodge;
    z-index: -5;

    @include rm(375) {
      bottom: 100px;
    }

    @include rm(480) {
      width: 640px;
      bottom: 70px;
    }

    @include rm(640) {
      width: 768px;
      bottom: 40px;
    }

    @include rm(768) {
      width: 1024px;
      bottom: -90px;
    }

    @include rm(1024) {
      width: 1220px;
      bottom: -220px;
    }

    @include rm(1220) {
      width: 1440px;
      bottom: -208px;
    }

    @include rm(1442) {
      width: 1920px;
      bottom: -400px;
    }

    @include rm(1922) {
      width: 2560px;
      bottom: -590px;
    }

    img {
      margin: 0 auto;
    }
  }
}

.vertical-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  //margin-bottom: 25px;


  @include rm(640) {
    //margin-bottom: 40px;
    gap: 20px;
  }

  @include rm(1220) {
    //margin-bottom: 90px;
    gap: 24px;
  }

  &__item {
    width: calc((100% - 15px) / 2);
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    //background: rgba(255, 255, 255, 0.55);
    //border: 1px solid rgba(255, 255, 255, 0.6);
    //box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6), 0 10px 22px rgba(17, 24, 39, 0.08);
    //
    //backdrop-filter: blur(12px);
    //-webkit-backdrop-filter: blur(12px);

    border-radius: 20px;



    @include rm(480) {
      width: calc((100% - 30px) / 3);
    }

    @include rm(640) {
      width: calc((100% - 80px) / 4);
    }
    @include rm(768) {
      //max-width: 30%;
    }

    @include rm(1024) {
      width: calc((100% - 100px) / 5);
      //max-width: 23%;
      gap: 20px;
    }

    @include rm(1220) {
      align-items: flex-start;
      width: calc((100% - 120px) / 6);
      padding: 20px;
    }

    //&:not(:last-child) {
    //  //margin-bottom: 15px;
    //
    //  @include rm(375) {
    //    margin: 0;
    //  }
    //}

    &:nth-child(2) {
      @include rm(1024) {
        transition-delay: 0.2s;
      }
    }

    &:nth-child(3) {
      @include rm(1024) {
        transition-delay: 0.4s;
      }
    }

    &:nth-child(4) {
      @include rm(1024) {
        transition-delay: 0.6s;
      }
    }

    &:nth-child(5) {
      @include rm(1024) {
        transition-delay: 0.8s;
      }
    }

    &:nth-child(6) {
      @include rm(1024) {
        transition-delay: 1s;
      }
    }

    &:nth-child(7) {
      @include rm(1024) {
        transition-delay: 1.2s;
      }
    }

    &:last-child {
      @include rm(375) {
        max-width: 200px;
      }

      @include rm(640) {
        max-width: 270px;
      }

      @include rm(768) {
        max-width: 222px;
      }

      @include rm(1220) {
        max-width: 270px;
      }
    }
  }
}
