section.ceremony.block
  .container 
    picture.ceremony__mask
      source(type="image/webp" media="(min-width:480px)" srcset="img/mask.webp")
      source(media="(min-width:480px)" srcset="img/mask.png")
      source(type="image/webp" media="(min-width:320px)" srcset="img/mask-mob.webp")
      source(media="(min-width:320px)" srcset="img/mask-mob.png")
      img(src="img/mask.png" alt="" loading="lazy" width="180" height="268" fetchpriority="low" decoding="async")

    h2.ceremony__title.title Церемонія нагородження 
      span#ceremony Affhub&nbsp;cpa voice&nbsp;2025
    h3.ceremony__subtitle Номінації
    ul.ceremony-list
      li.ceremony-list__item 
        a(href="https://awards.affhub.club/?nomination=best-partner" target="_blank").ceremony-list__link.shine-gold Найкраща партнерська програма 
      li.ceremony-list__item 
        a(href="https://awards.affhub.club/?nomination=best-affiliate-team" target="_blank").ceremony-list__link.shine-gold Найкраща affiliate-команда 
      li.ceremony-list__item 
        a(href="https://awards.affhub.club/?nomination=best-arbitration-service" target="_blank").ceremony-list__link.shine-gold Найкращий арбiтражний сервiс 
      li.ceremony-list__item 
        a(href="https://awards.affhub.club/?nomination=industry-voice" target="_blank").ceremony-list__link.shine-gold Голос iндустрії 
      li.ceremony-list__item 
        a(href="https://awards.affhub.club/?nomination=ceo-owner" target="_blank").ceremony-list__link.shine-gold СЕО / Owner року 
      li.ceremony-list__item 
        a(href="https://awards.affhub.club/?nomination=collaboration-of-the-year" target="_blank").ceremony-list__link.shine-gold Колаборацiя року 
      li.ceremony-list__item 
        a(href="https://awards.affhub.club/?nomination=best-pr-campaign" target="_blank").ceremony-list__link.shine-gold Найкраща 
          span.text-nowrap PR-компанiя
          |  року 
      li.ceremony-list__item 
        a(href="https://awards.affhub.club/?nomination=donat" target="_blank").ceremony-list__link.shine-gold Донат року 
      li.ceremony-list__item 
        a(href="https://awards.affhub.club/?nomination=breakthrough-of-the-year" target="_blank").ceremony-list__link.shine-gold Прорив року 
      li.ceremony-list__item 
        a(href="https://awards.affhub.club/?nomination=employer-of-the-year" target="_blank").ceremony-list__link.shine-gold Роботодавець року 

    picture.diamond.diamond-1
      source(type="image/webp" media="(min-width:480px)" srcset="img/d7.webp")
      source(media="(min-width:480px)" srcset="img/d7.png")
      source(srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==")
      img(src="img/d7.png" alt="" loading="lazy" width="1" height="1" fetchpriority="low" decoding="async")
    picture.diamond.diamond-2
      source(type="image/webp" media="(min-width:480px)" srcset="img/d8.webp")
      source(media="(min-width:480px)" srcset="img/d8.png")
      source(type="image/webp" media="(min-width:320px)" srcset="img/d8-mob.webp")
      source(media="(min-width:320px)" srcset="img/d8-mob.png")
      img(src="img/d8.png" alt="" loading="lazy" width="46" height="49" fetchpriority="low" decoding="async")
    picture.diamond.diamond-3
      source(type="image/webp" media="(min-width:480px)" srcset="img/d9.webp")
      source(media="(min-width:480px)" srcset="img/d9.png")
      source(type="image/webp" media="(min-width:320px)" srcset="img/d9-mob.webp")
      source(media="(min-width:320px)" srcset="img/d9-mob.png")
      img(src="img/d9.png" alt="" loading="lazy" width="33" height="28" fetchpriority="low" decoding="async")
    picture.diamond.diamond-4
      source(type="image/webp" media="(min-width:480px)" srcset="img/d2.webp")
      source(media="(min-width:480px)" srcset="img/d2.png")
      source(srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==")
      img(src="img/d2.png" alt="" loading="lazy" width="1" height="1" fetchpriority="low" decoding="async")
