section.privacy
    .container.block
        h2.privacy__header.privacy__header--main Cookie Policy
        .privacy__wrapper
            h3.privacy__title What Are Cookies
            p.privacy__text As is common practice with almost all professional websites this site uses cookies, which are tiny files that are downloaded to your computer, to improve your experience. This page describes what information they gather, how we use it and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from being stored however this may downgrade or 'break' certain elements of the sites functionality.
            p.privacy__text For more general information on cookies see the Wikipedia article on HTTP Cookies.
            h3.privacy__title How We Use Cookies
            p.privacy__text We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.
            h3.privacy__title Disabling Cookies
            p.privacy__text You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will affect the functionality of this and many other websites that you visit. Disabling cookies will usually result in also disabling certain functionality and features of the this site. Therefore it is recommended that you do not disable cookies.
            h3.privacy__title The Cookies We Set
            p.privacy__text Performance and Analytics cookies
                <br> These cookies allow the website to remember the choices you have made in the past.
            p.privacy__text The use of necessary cookies is based on Article 6(1)(b) GDPR (performance of a contract).
            p.privacy__text Google Analytics is used only with your consent in accordance with Article 6(1)(a) GDPR.
            h3.privacy__title Third Party Cookies
            p.privacy__text In some special cases we also use cookies provided by trusted third parties. The following section details which third party cookies you might encounter through this site.
            p.privacy__text This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web for helping us to understand how you use the site and ways that we can improve your experience. These cookies may track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content.
                <br> For more information on Google Analytics cookies, see the official Google Analytics page.
            h3.privacy__title More Information
            p.privacy__text However, if you are still looking for more information then you can contact us through one of our preferred contact methods:
            p.privacy__text Email:
                |&nbsp;
                a.privacy__link(href="mailto:support@affhub.com") support@affhub.com
