section.event.block
  .container 
    h2.event__title.title AFFHUB AWARDS CEREMONY 
      span.title-accent BOHÈME
    .event__content
      h3.event__subtitle захід, який втілює розкіш, мистецький екстравагант, блиск та естетику
      p.event__text Раз на рік ми не просто святкуємо — ми створюємо сцену, де нагороджуємо найкращих з нас і цього року — ще яскравіше, ще гучніше
      p.event__text Це ніч, коли богема арбітражу виходить на сцену. Найкращі команди, соло-гравці, зв’язки, креативи — всі, хто зробив цей рік особливим — отримають свої «діаманти» у вигляді нагород

    picture.diamond.diamond-1
      source(type="image/webp" media="(min-width:480px)" srcset="img/d12.webp")
      source(media="(min-width:480px)" srcset="img/d12.png")
      source(srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==")
      img(src="img/d12.png" alt="" loading="lazy" width="1" height="1")
    picture.diamond.diamond-2
      source(type="image/webp" media="(min-width:480px)" srcset="img/d6.webp")
      source(media="(min-width:480px)" srcset="img/d6.png")
      source(type="image/webp" media="(min-width:320px)" srcset="img/d6-mob.webp")
      source(media="(min-width:320px)" srcset="img/d6-mob.png")
      img(src="img/d6.png" alt="" loading="lazy" width="46" height="32")
