section.info-partners.block
  .container
    h2.title.info-partners__title Media Partners
    ul.info-partners-list
      //li.info-partners-list__item.info-partners-list__item--1
      //  a(href="https://affhub.media/" target="_blank").info-partners-list__link
      //    img(src="img/affhubm.svg", alt="image" loading="lazy"   width="142" height="19").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--2
        a(href="https://igaming.club/" target="_blank").info-partners-list__link
          img(src="img/igaming.png", alt="image" loading="lazy"  width="234" height="70").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--3
        a(href="https://spaceprofit.team/" target="_blank").info-partners-list__link
          img(src="img/spt.svg", alt="image" loading="lazy"  width="107" height="75").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--4
        a(href="https://affpro-affpro.com?utm_source=Affhub&utm_placement=mediapartners" target="_blank").info-partners-list__link
          img(src="img/affpro.svg", alt="image" loading="lazy"  width="154" height="27").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--5
        a(href="https://t.me/buyermedia" target="_blank").info-partners-list__link
          img(src="img/buyer-media.png", alt="image" loading="lazy"  width="95" height="77").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--6
        a(href="https://everad.com/" target="_blank").info-partners-list__link
          img(src="img/everad.svg", alt="image" loading="lazy"  width="134" height="27").info-partners-list__img


      li.info-partners-list__item.info-partners-list__item--8
        a(href="https://www.instagram.com/onemedia.io/?hl=en" target="_blank").info-partners-list__link
          img(src="img/one-media.svg", alt="image" loading="lazy"  width="140" height="39").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--9
        a(href="https://palai.media/" target="_blank").info-partners-list__link
          img(src="img/palai-media.svg", alt="image" loading="lazy"  width="125" height="25").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--10
        a(href="https://t.me/kupets_traf" target="_blank").info-partners-list__link
          img(src="img/kupets-team.png", alt="image" loading="lazy"  width="130" height="55").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--11
        a(href="https://onepartners.io/" target="_blank").info-partners-list__link
          img(src="img/one-partners.svg", alt="image" loading="lazy"  width="140" height="66").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--12
        a(href="https://affpapa.com/" target="_blank").info-partners-list__link
          img(src="img/affpapa.svg", alt="image" loading="lazy"  width="137" height="37").info-partners-list__img


      li.info-partners-list__item.info-partners-list__item--13
        a(href="https://t.me/affwriter" target="_blank").info-partners-list__link
          img(src="img/affj.png", alt="image" loading="lazy"  width="200" height="61").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--14
        a(href="https://arbitrageup.net/" target="_blank").info-partners-list__link
          img(src="img/arbitrage.svg", alt="image" loading="lazy"  width="67" height="48").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--15
        a(href="https://www.clickdealer.com/" target="_blank").info-partners-list__link
          img(src="img/click-dealer.svg", alt="image" loading="lazy"  width="140" height="34").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--16
        a(href="https://fellows.team/" target="_blank").info-partners-list__link
          img(src="img/fellows.svg", alt="image" loading="lazy"  width="124" height="40").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--17
        a(href="https://www.instagram.com/holytraff/" target="_blank").info-partners-list__link
          img(src="img/holy-traff.svg", alt="image" loading="lazy"  width="109" height="63").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--18
        a(href="https://improveads.agency/" target="_blank").info-partners-list__link
          img(src="img/improve.svg", alt="image" loading="lazy"  width="129" height="35").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--18
        a(href="https://www.ku.partners/" target="_blank").info-partners-list__link
          img(src="img/kupig.png", alt="image" loading="lazy"  width="200" height="125").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--18
        a(href="https://leadpanda.media/" target="_blank").info-partners-list__link
          img(src="img/panda-media.svg", alt="image" loading="lazy"  width="135" height="52").info-partners-list__img


      li.info-partners-list__item.info-partners-list__item--37
        a(href="https://t.me/clickstormcorp_chat" target="_blank").info-partners-list__link
          img(src="img/csc.svg", alt="image" loading="lazy").info-partners-list__img


      li.info-partners-list__item.info-partners-list__item--19
        a(href="https://t.me/woman_gambling" target="_blank").info-partners-list__link
          img(src="img/female.png", alt="image" loading="lazy"  width="131" height="40").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--20
        a(href="https://thedvizh.com/" target="_blank").info-partners-list__link
          img(src="img/dvizh.svg", alt="image" loading="lazy"  width="139" height="19").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--21
        a(href="https://trafficake.com/uk/" target="_blank").info-partners-list__link
          img(src="img/traffi.svg", alt="image" loading="lazy"  width="140" height="37").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--43
        a(href="https://t.me/ftdcompany" target="_blank").info-partners-list__link
          img(src="img/ftdcompany.svg", alt="image" loading="lazy").info-partners-list__img



      li.info-partners-list__item.info-partners-list__item--23
        a(href="https://triangles.pro/?fbclid=PAZXh0bgNhZW0CMTEAAabHWsVo7yn6_1oMS-ht33J-OTjXW5ZH2NxRG_PiCgDu4Cn9mJc_3xverpI_aem_XIShKsdanvccaURaR3ZQbA" target="_blank").info-partners-list__link
          img(src="img/triangles.svg", alt="image" loading="lazy"  width="144" height="48").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--24
        a(href="https://wildwildapps.com/index-eng.php" target="_blank").info-partners-list__link
          img(src="img/wwg.png", alt="image" loading="lazy"  width="373" height="126").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--25
        a(href="https://t.me/real_target" target="_blank").info-partners-list__link
          img(src="img/real.svg", alt="image" loading="lazy"  width="154" height="44").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--26
        a(href="https://www.instagram.com/sempro.ukraine/?hl=en" target="_blank").info-partners-list__link
          img(src="img/sempro.svg", alt="image" loading="lazy"  width="126" height="34").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--27
        a(href="https://trident-media.agency/" target="_blank").info-partners-list__link
          img(src="img/trident.svg", alt="image" loading="lazy"  width="138" height="18").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--28
        a(href="https://www.instagram.com/ev_mediaaa?igsh=MXB5dGdkdTN3cXc5NA==" target="_blank").info-partners-list__link
          img(src="img/evmedia.png", alt="image" loading="lazy"  width="140" height="70").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--29
        a(href="https://www.instagram.com/hr.community.ua?igsh=MjI5bXBuYWZrYnE0" target="_blank").info-partners-list__link
          img(src="img/hr_logo.png", alt="image" loading="lazy"  width="500" height="192").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--30
        a(href="https://t.me/facebookovich" target="_blank").info-partners-list__link
          img(src="img/FB.svg", alt="image" loading="lazy"  width="627" height="521").info-partners-list__img

      //li.info-partners-list__item.info-partners-list__item--31
      //  a(href="https://wildwild.partners/" target="_blank").info-partners-list__link
      //    img(src="img/WWPartners.svg", alt="image" loading="lazy"  width="472" height="126").info-partners-list__img

      li.info-partners-list__item.info-partners-list__item--32
        a(href="https://www.instagram.com/affiliatepadelclub?igsh=dW5ieXp4a2Z3YnBj" target="_blank").info-partners-list__link
          img(src="img/paddle.svg", alt="image" loading="lazy"  width="544" height="282").info-partners-list__img


      li.info-partners-list__item.info-partners-list__item--33
        a(href="https://gambeat.io/?utm_source=affhub_lviv&utm_medium=affhub_lviv&utm_campaign=affhub_lviv" target="_blank").info-partners-list__link
          img(src="img/gambeat.svg", alt="image" loading="lazy"  width="544" height="282").info-partners-list__img



      li.info-partners-list__item.info-partners-list__item--34
        a(href="https://rockitmedia.io/?fbclid=PAZXh0bgNhZW0CMTEAAaZoeUdiqv-j5ypIjHADoHy3YALQiOaLEj71Rp9KdgKdW8I4W2kVTNXnEQI_aem_xTOynMrV-BQ2ps7jM8VzEQ" target="_blank").info-partners-list__link
          img(src="img/rokit.svg", alt="image" loading="lazy"  width="1184" height="267").info-partners-list__img



      li.info-partners-list__item.info-partners-list__item--35
        a(href="https://datify.link/en?utm_source=affhub&utm_medium=promo&utm_campaign=media" target="_blank").info-partners-list__link
          img(src="img/datifi.svg", alt="image" loading="lazy").info-partners-list__img


      li.info-partners-list__item.info-partners-list__item--36
        a(href="https://hwyd.media/" target="_blank").info-partners-list__link
          img(src="img/hwyd_madia.svg", alt="image" loading="lazy").info-partners-list__img



      li.info-partners-list__item.info-partners-list__item--38
        a(href="https://tracker.wild-traff.com/jC6dCw?sub1=wc&sub2=tg&sub3=affhub&sub4=mp&sub5=%7Bsub5%7D" target="_blank").info-partners-list__link
          img(src="img/wild-creo.svg", alt="image" loading="lazy").info-partners-list__img




      li.info-partners-list__item.info-partners-list__item--39
        a(href="https://www.instagram.com/muus.agency?igsh=MTNjeTFpZHJqcWRnNw==" target="_blank").info-partners-list__link
          img(src="img/muus.svg", alt="image" loading="lazy").info-partners-list__img


      li.info-partners-list__item.info-partners-list__item--40
        a(href="https://gambling.sharklink.org/?utm_source=affhub444&utm_medium=affhub444" target="_blank").info-partners-list__link
          img(src="img/shark.png", alt="image" loading="lazy").info-partners-list__img




      li.info-partners-list__item.info-partners-list__item--41
        a(href="https://traffter.com" target="_blank").info-partners-list__link
          img(src="img/traffter.png", alt="image" loading="lazy").info-partners-list__img





      li.info-partners-list__item.info-partners-list__item--42
        a(href="https://www.instagram.com/panch_agency" target="_blank").info-partners-list__link
          img(src="img/panch_agency.svg", alt="image" loading="lazy").info-partners-list__img



      li.info-partners-list__item.info-partners-list__item--22
        a(href="https://traffcore.com/ru" target="_blank").info-partners-list__link
          img(src="img/traffcore.svg", alt="image" loading="lazy"  width="124" height="49").info-partners-list__img




      li.info-partners-list__item.info-partners-list__item--44
        a(href="https://www.instagram.com/traffhub.ua/" target="_blank").info-partners-list__link
          img(src="img/traffhub.png", alt="image" loading="lazy").info-partners-list__img


      li.info-partners-list__item.info-partners-list__item--7
        a(href="https://vortexads.com/ua/" target="_blank").info-partners-list__link
          img(src="img/vortex.svg", alt="image" loading="lazy"  width="120" height="47").info-partners-list__img
