section.partners.block#partners
  .container

    h2.title.partners__title Partners

    ul.partners-list

      li.partners-list__item.partners-list__item--1
        a(href="https://kng.partners/uk" target="_blank").partners-list__link
          h3.partners-list__title GENERAL CONFERENCE PARTNER
          img(src="img/partners-2.svg", alt="image" width="285" height="99" loading="lazy").partners-list__img

      li.partners-list__item.partners-list__item--2
        a(href="https://gorilla.partners/" target="_blank").partners-list__link
          h3.partners-list__title GENERAL AFTERPARTY PARTNER
          img(src="img/partners-1.png", alt="image" width="370" height="89" loading="lazy").partners-list__img

      li.partners-list__item.partners-list__item--inner.partners-list__item--3
        a(href="https://www.instagram.com/city.affiliate?igsh=MWk1cTQ2azBzdXNpdw%3D%3D&to=aHR0cHM6Ly9nby5zY2l0eXdlYi5jb20vY2xpY2s%2Fb2ZmZXJfaWQ9MTgmcGlkPTg4NCZzdWIyPWFmZmh1YiZzdWIzPWxhbmRpbmcmc3ViND1wbGVteWFfY29uZg%3D%3D&utm_source=qr%3Frefcode%3Daff_67e2a5de12e9bc0001670f4a" target="_blank").partners-list__link
          img(src="img/slots.png", alt="image" width="200" height="107" loading="lazy").partners-list__img

      li.partners-list__item.partners-list__item--inner.partners-list__item--10
        a(href="https://044.agency/" target="_blank").partners-list__link
          img(src="img/agency.svg", alt="image" loading="lazy"  width="126" height="35").partners-list__img

      li.partners-list__item.partners-list__item--inner.partners-list__item--9
        a(href="https://affpro.com/en" target="_blank").partners-list__link
          img(src="img/affpro.svg", alt="image" loading="lazy"  width="154" height="27").partners-list__img

      li.partners-list__item.partners-list__item--inner.partners-list__item--18
        a(href="https://playcash.network/en/" target="_blank").partners-list__link
          img(src="img/playcash.svg", alt="image"  loading="lazy").partners-list__img

      li.partners-list__item.partners-list__item--inner.partners-list__item--11
        a(href="https://www.didglobal.space?utm_source=affhub&utm_medium=promo&utm_content=plemiya&utm_term=partners" target="_blank").partners-list__link
          img(src="img/DG.svg", alt="image" loading="lazy"  width="293" height="47").partners-list__img

      li.partners-list__item.partners-list__item--inner.partners-list__item--12
        a(href="https://everad.com/" target="_blank").partners-list__link
          img(src="img/everad.svg", alt="image" loading="lazy"  width="134" height="27").partners-list__img

      li.partners-list__item.partners-list__item--inner.partners-list__item--17
        a(href="https://gambling.sharklink.org/?utm_source=affhub444&utm_medium=affhub444" target="_blank").partners-list__link
          img(src="img/shark.png", alt="image" width="350" height="323" loading="lazy").partners-list__img

      li.partners-list__item.partners-list__item--inner.partners-list__item--4
        a(href="#" target="_blank").partners-list__link
          img(src="img/clover-group.png", alt="image" width="300" height="300" loading="lazy").partners-list__img

      li.partners-list__item.partners-list__item--inner.partners-list__item--13
        a(href="https://affiliate.makeberry.com/" target="_blank").partners-list__link
          img(src="img/makeberry.svg", alt="image" loading="lazy"  width="240" height="54").partners-list__img

      li.partners-list__item.partners-list__item--inner.partners-list__item--5
        a(href="https://t.me/+Xcour0bY6mE1NjA8" target="_blank").partners-list__link
          img(src="img/plash.png", alt="image" loading="lazy"  width="200" height="84").partners-list__img

      li.partners-list__item.partners-list__item--inner.partners-list__item--7
        a(href="https://adsempire.com/" target="_blank").partners-list__link
          img(src="img/AE.png", alt="image" loading="lazy"  width="284" height="68").partners-list__img

      li.partners-list__item.partners-list__item--inner.partners-list__item--6
        a(href="https://2bdigital.website/ua/" target="_blank").partners-list__link
          img(src="img/B.svg", alt="image" loading="lazy"  width="219" height="65").partners-list__img

      li.partners-list__item.partners-list__item--inner.partners-list__item--8
        a(href="https://agency.scroogefrog.com/" target="_blank").partners-list__link
          img(src="img/scrooge2.svg", alt="image" loading="lazy"  width="202" height="45").partners-list__img

      li.partners-list__item.partners-list__item--inner.partners-list__item--14
        a(href="https://t.me/asgard_ppc" target="_blank").partners-list__link
          img(src="img/asgard.png", alt="image" loading="lazy"  width="500" height="500").partners-list__img


      li.partners-list__item.partners-list__item--inner.partners-list__item--16
        a(href="https://t.me/vikgoragency" target="_blank").partners-list__link
          img(src="img/vikgoragency.svg", alt="image" width="268" height="108" loading="lazy").partners-list__img


      li.partners-list__item.partners-list__item--inner.partners-list__item--19
        a(href="https://www.instagram.com/ax.volkov?igsh=bzhsZXlucjFsOWFp&utm_source=qr" target="_blank").partners-list__link
          img(src="img/TLC_logo.png", alt="image" width="268" height="108" loading="lazy").partners-list__img


      li.partners-list__item.partners-list__item--inner.partners-list__item--20
        a(href="https://t.me/iqbuyers_selltraff" target="_blank").partners-list__link
          img(src="img/iq-logo.svg", alt="image" width="140" height="141" loading="lazy").partners-list__img

      li.partners-list__item.partners-list__item--inner.partners-list__item--21
        a(href="www.payoneer.com" target="_blank").partners-list__link
          img(src="img/Payoneer.svg", alt="image" width="300" height="64" loading="lazy").partners-list__img
