section.secret 
    .container.block.secret__wrapper
        h2.secret__title.text-upper!= t.secret.title
        h3.secret__subtitle.text-upper= t.secret.subtitle
        +picture('secret', format = 'png', className = 'secret__img', breakpoint = null)
        .strips__container-default.secret__container-default 
            //- span.strip1
            span.strip2
            span.strip3
            span.strip4 
            span.strip5
            span.strip6
            span.strip7
            span.strip8
            span.strip9
            //- span.strip10