section.socials.block#socials

  .socials__ellipses.ellipses
    .ellipse.ellipse--blue
    .ellipse.ellipse--red
    .ellipse.ellipse--green

  .container
    h2.title.socials__title Our socials

    ul.socials-list
      li.socials-list__item.fade-down
        a(href="https://affhub.media/" target="_blank").socials-list__link
          h3.socials-list__title Media
          img(src="img/qr1.svg", alt="image"  width="110" height="111" loading="lazy").socials-list__img

      li.socials-list__item.fade-down
        a(href="https://t.me/affhub_community" target="_blank").socials-list__link
          h3.socials-list__title Community chat
          img(src="img/qr2.svg", alt="image"  width="110" height="111" loading="lazy").socials-list__img

      li.socials-list__item.fade-down
        a(href="https://www.tiktok.com/@affhub.media" target="_blank").socials-list__link
          h3.socials-list__title Tik tok
          img(src="img/qr3.svg", alt="image"  width="110" height="111" loading="lazy").socials-list__img

      li.socials-list__item.fade-down
        a(href="https://youtube.com/@affhub" target="_blank").socials-list__link
          h3.socials-list__title Youtube
          img(src="img/qr4.svg", alt="image"  width="110" height="111" loading="lazy").socials-list__img

      li.socials-list__item.fade-down
        a(href="https://www.instagram.com/affhubcommunity/profilecard" target="_blank").socials-list__link
          h3.socials-list__title Instagram
          img(src="img/qr5.svg", alt="image"  width="110" height="111" loading="lazy").socials-list__img


      li.socials-list__item.fade-down
        a(href="https://www.instagram.com/affhubcommunity/profilecard" target="_blank").socials-list__link
          h3.socials-list__title Instagram
          img(src="img/qr5.svg", alt="image"  width="110" height="111" loading="lazy").socials-list__img

    .promo__btns.why__btns
      a(href="https://t.me/zavadadmytro", class="btn promo__btn", target="_blank") Become a partner
