section.privacy
    .container.block
        h2.privacy__header.privacy__header--main Ticket Purchase Policy
        .privacy__wrapper
            h3.privacy__title 1. Definitions:
            p.privacy__text <b>Organizers - AFFHUB GROUP</b>, address: Rylieieva St. 10-A, 5th Floor, Office 518, 04073 Kyiv, Ukraine,.
            p.privacy__text <b>Event</b> - "AFFHUB AFFILIATE CONNECT CONF" conference - advertising and informational-presentation meeting of affiliate industry representatives for networking, communication, and socializing, which will take place on March 27, 2026. The Event venue is ExpoGeorgia - 118 Akaki Tsereteli Ave, Tbilisi.
            p.privacy__text <b>Participant</b> - an individual who has expressed a desire to participate in the Event and has purchased a ticket under the terms defined by these conditions.
            p.privacy__text <b>Ticket </b> is a confirmation of the Participant's right to take part in the Event. The subject of purchase is the right to participate.
            p.privacy__text <b>Website</b> - https://affhub.club/affhub.georgiaconf
            h3.privacy__title 2. General Terms
            p.privacy__text The Organizers, according to these Terms, undertakes to provide a comprehensive service for organizing participation in the Event to the Participant, and the Participant undertakes to accept and pay based on these terms.
            p.privacy__text The Participant's purchase of a Ticket to participate in the Event signifies their complete and unconditional agreement with these Terms (<b>Acceptance</b>). It is considered that the Participant has agreed and accepted the Terms from the moment of performing the following actions:
            ul.privacy__list
                li.privacy__item 1. Placing a special checkmark indicating agreement with the Terms when registering the Participant on the Website;
                li.privacy__item 2. Payment by the Participant of the Ticket.
            p.privacy__text By accepting these Terms, the Participant thereby gives their consent to the processing of their personal data (name, surname, contact information, and occupation) for inclusion in the Event Participants' information database. Subsequently, this data may be used by the Organizers to inform Participants about the Event preparation progress, changes in conduct, etc., via email and/or telephone calls. More details of processing the Participant`s information you can find in our Privacy notice.
            p.privacy__text Be aware, when you purchase a Ticket, you will be redirected to an external service provider – https://regtoevent.com. Please note that any personal data you provide during that process will be processed under their own privacy policy and terms of service, available here: https://regtoevent.com/docs/accepted.pdf. We are not responsible for how your data is collected, stored, or used on that platform.
            p.privacy__text By accepting these Terms, the Participant thereby gives their consent to photo and video recording and the use of their image in any materials, including advertising materials dedicated to the Event.
            h3.privacy__title 3. Tickets and Payment
            p.privacy__text The Participant can purchase a Ticket online.
            p.privacy__text The Participant can independently choose the cost of the corresponding Ticket type from the options offered by the Organizers.
            p.privacy__text The Participant understands that Ticket payment is conducted through the involvement of appropriate payment systems. The Organizers has no control or access to the Participant's ticket payment procedure.
            p.privacy__text The Participant independently pays any possible commission of the payment system or bank commission for Ticket purchase. In case of a refund, the Participant receives the full amount minus commissions from ticket sales services, payment processing services, and possible bank commissions.
            p.privacy__text The distribution of payments between the Organizers shall be determined at the moment you select your preferred payment method at checkout. The selected payment option will define the applicable payment flow, currency, and the party authorized to process the payment, depending on your location and legal requirements.
            p.privacy__text The applicable payment terms, currency, and payment recipient will be clearly indicated during the checkout process, based on the payment method you select.
            h3.privacy__title 4. Changes in Event Conduct. Cancellation of Event Participation
            p.privacy__text If a registered Participant cannot attend the Event for any reason, the funds paid by the Participant for Event participation are not refunded.
            p.privacy__text The Participant has the right to transfer their Ticket to third parties.
            p.privacy__text In case of Event cancellation at the Organizers’ initiative, the latter undertakes to return the purchased Ticket cost to the Participant upon written request. The Participant receives the full amount minus commissions from ticket sales services, payment processing services, and possible bank commissions. In such a case, Ticket refunds are made within 14 (fourteen) business days from the date of receiving the Participant's written request.
            p.privacy__text The Organizers is released from fulfilling their obligations as a result of force majeure: fire, natural disaster, accident, flood, epidemic, pandemic, earthquake, explosion, strike, embargo, extreme weather conditions, government decisions, military actions, riots, movement restrictions, lack of transport infrastructure or personnel, technical failures, lack of access to the Event venue, legislative changes, or other force majeure circumstances, when conducting the Event or access to the Event venue becomes impossible or excessively complicated.
            p.privacy__text The Organizers reserves the right to change the Event conduct procedure, namely to conduct the Event online using appropriate telecommunications technologies or to postpone the Event date.
            p.privacy__text The Participant will be notified of such changes via email and/or telephone call. In such cases, funds for purchased Tickets are not refunded to Participants; however, Participants who purchased tickets have the right to receive from the Organizers (at the Organizers’ choice):
            ul.privacy__list
                li.privacy__item 1. 50% discount on participation in the Organizers’ subsequent Events.
            h3.privacy__title 5. Rights and Obligations of the Parties
            p.privacy__text <b>The Participant has the right to:</b>
            ul.privacy__list.list
                li.privacy__item.item Demand proper fulfillment of obligations by the Organizers under these Terms.
                li.privacy__item.item Participate in the Event according to these Terms.
                li.privacy__item.item Use additional Organizers’ services, if available, for an additional fee if such services are paid.
                li.privacy__item.item Inform the Organizers about their wishes, suggestions, and remarks regarding Event conduct.
            p.privacy__text <b>The Participant is obligated to:</b>
            ul.privacy__list.list
                li.privacy__item.item Properly fulfill obligations undertaken under these Terms.
                li.privacy__item.item Accept and pay for services provided by the Organizers as defined by these Terms.
                li.privacy__item.item Strictly comply with the requirements of these Terms, safety rules, and elementary reasonableness requirements.
                li.privacy__item.item Treat property located at the Event venue carefully and neatly.
                li.privacy__item.item Bear material and moral responsibility for damage caused to the Organizers, their personnel, and property located at the Event venue.
                li.privacy__item.item Not violate intellectual property rights of the Organizers and other Participants, including but not limited to, not conducting photo and video recording of the Event and its Participants without consent from the Organizers or such participants.
            p.privacy__text <b>The Organizer has the right to:</b>
            ul.privacy__list.list
                li.privacy__item.item Demand proper and complete fulfillment of obligations undertaken by the Participant under these Terms.
                li.privacy__item.item Receive timely and complete payment for provided Services.
                li.privacy__item.item Demand compensation for material and moral damage from the Participant in case of causing losses to the Organizers, Organizers’ property, employees, volunteers, or other persons.
                li.privacy__item.item Not allow the Participant to the Event venue and cease providing Services if the latter's external appearance gives grounds to believe that the Participant is under the influence of alcoholic, narcotic, or potent medicinal substances capable of affecting their behavior and state of consciousness. In this case, the Organizers do not refund the purchased Ticket cost to such Participant.
                li.privacy__item.item Not allow the Participant to the Event venue and cease providing Services, or ask to leave the Event territory if the Participant's actions violate behavioral rules, threaten the life and health, honor and dignity of other Participants and/or Organizers’ employees or third parties. In this case, the Organizers do not refund the purchased ticket cost to such Participant.
                li.privacy__item.item Change these Terms unilaterally by previously posting information on the Website.
                li.privacy__item.item Restrict the Participant's use of any equipment and the Participant's access to any premises. Without agreement with the Participant, independently establish and cancel various discounts, marketing promotions, benefits, establish discount programs, etc.
                li.privacy__item.item Without agreement with the Participant, independently, for the purpose of safe and effective Service provision and quality control of provided Services, conduct video and photo recording during the Event.
            p.privacy__text <b>The Organizer is obligated to:</b>
            ul.privacy__list.list
                li.privacy__item.item Provide Services to the Participant according to these Terms.
                li.privacy__item.item Inform the Participant of changes in date and time or Event conduct procedure by posting relevant information on the Website or personal notification to the Participant.
                li.privacy__item.item In case of violations by any Participants or third parties of behavioral rules during the Event or conditions of this Agreement, take all possible measures to stop this violation.
            h3.privacy__title 6. Other Terms
            p.privacy__text The Terms' validity period is unlimited and coincides with the term of its posting on the Organizers’ Website, unless otherwise specified on the Website itself.
            p.privacy__text For the Participant, these Terms become effective from the moment of Acceptance. The term of the Agreement with the Participant ends at the moment the Participant's participation in the Event ends.
            p.privacy__text The Organizers reserves the right to change these Terms, while Participants agree to comply with the changed Terms.
