section.wait.block 
  .container 
    h2.wait__title.title На тебе чекають
    .wait-slider.swiper
      .wait-slider__buttons
        button.swiper-button-prev.wait-slider__nav.wait-slider__nav--prev
        button.swiper-button-next.wait-slider__nav.wait-slider__nav--next
      .swiper-wrapper
        .wait-slider__item.swiper-slide
          .wait-slider__content
            h3.wait-slider__title зони розваг
            picture.wait-slider__img
              source(type="image/webp" srcset="img/wait1.webp")
              img(src="img/wait1.jpg" alt="" loading="lazy" width="305" height="404" fetchpriority="low" decoding="async")
        .wait-slider__item.swiper-slide
          .wait-slider__content
            h3.wait-slider__title безліч фото зон
            picture.wait-slider__img
              source(type="image/webp" srcset="img/wait2.webp")
              img(src="img/wait2.jpg" alt="" loading="lazy" width="305" height="404" fetchpriority="low" decoding="async")
        .wait-slider__item.swiper-slide
          .wait-slider__content
            h3.wait-slider__title коктейлі
            picture.wait-slider__img
              source(type="image/webp" srcset="img/wait3.webp")
              img(src="img/wait3.jpg" alt="" loading="lazy" width="305" height="404" fetchpriority="low" decoding="async")
        .wait-slider__item.swiper-slide
          .wait-slider__content
            h3.wait-slider__title кальяни
            picture.wait-slider__img
              source(type="image/webp" srcset="img/wait4.webp")
              img(src="img/wait4.jpg" alt="" loading="lazy" width="305" height="404" fetchpriority="low" decoding="async")

