body {
  font-family: $main-font;
  line-height: 1.3;
  color: #100730;
  background: #FFFFFF;
  overflow-x: hidden;
  padding-top: 60px;


  @include rm(1024) {
    padding-top: 70px;
  }
}

button,
h1,
h2,
h3,
h4,
h5 {
  font-family: $headers-font;
}

html {
  overflow-x: hidden;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
}

svg {
  overflow: hidden;
}

button {
  display: block;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  @include rm(480) {
    width: 480px;
  }

  @include rm(640) {
    width: 640px;
  }

  @include rm(768) {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include rm(1024) {
    width: 1024px;
  }

  @include rm(1220) {
    width: 1220px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @include rm(1360) {
    width: 1360px;
  }
}

.title {
  font-family: $ital-font;
  margin-bottom: 25px;
  font-size: 26px;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;

  @include rm(480) {
    margin-bottom: 30px;
    // font-size: 24px;
  }

  @include rm(640) {
    font-size: 28px;
  }

  @include rm(768) {
    font-size: 28px;
  }

  @include rm(1024) {
    text-align: left;
    margin-bottom: 50px;
    font-size: 30px;
  }

  @include rm(1220) {
    margin-bottom: 56px;
    //font-size: 38px;
  }
  //
  //@include rm(1360) {
  //  font-size: 48px;
  //}
}

.ellipses {
  position: relative;
  width: 100%;
  max-width: 1200px; // ширина контейнера
  margin: 0 auto; // по центру
}
.ellipse {
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  //filter: blur(60px);
  //filter: blur(100px);
  opacity: 0.8;


  &--blue {
    background: rgba(151, 133, 255, 1);
  }

  &--red {
    background: rgba(218, 133, 255, 1);
  }

  &--green {
    background: rgba(133, 218, 255, 1);
  }
  &--rose {
    background: rgba(255, 133, 239, 1);
  }

  &--purple {
    background: rgba(145, 133, 255, 1);
  }
  &--grey {
    background: rgba(189, 226, 255, .5);
  }
  &--turquoise {
    background: rgba(173, 211, 255, 1);
  }
}


.inner-page {
  padding-top: 0;
}



.title-accent {
  margin-top: 5px;
  font-family: $ital-font;
  font-size: 1.375em;
  line-height: 1;
  display: block;
}

.text-nowrap {
  white-space: nowrap;
}

br {
  line-height: 1;
  font-size: 0;
}

.text-upper {
  text-transform: uppercase;
}

.btn {
  padding: 15px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  transition: .4s;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  font-family: $ital-font;
  //font-weight: bold;
  border-radius: 100px;
  border: solid 1px #ff57c6;
  background-color: rgba(255, 87, 198, 0.3);

  position: relative;
  overflow: hidden;

  @include rm(1024) {
    font-size: 18px;
  }

  //@include rm(1220) {
  //  font-size: 24px;
  //}

  &::before {
    content: "";
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -40px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%);
    transform: skewX(-10deg);
  }

  //&::after {
  //  content: "";
  //  width: 22px;
  //  height: 12px;
  //  background-image: url(../img/btn-arrow.svg);
  //  background-repeat: no-repeat;
  //  background-size: contain;
  //  transition: all 0.4s;
  //}

  &:hover {
    background-size: 180% 100%;

    &::before {
      right: 110%;
      transition: right 0.8s;
    }

    &::after {
      transform: translateX(5px);
    }
  }

  &:disabled {
    background: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
    opacity: 0.5;
    background-size: 100%;
    box-shadow: none;

    &::before {
      right: -120%;
      transition: none;
    }

    &::after {
      transform: none;
      animation: none;
    }
  }

  &__text {
    pointer-events: none;
  }
}

.shine-gold {
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -30%;
    background: linear-gradient(to right, rgba(255, 201, 51, 0) 0%, #FFC933 40%, #FFC933 50%, #FFC933 60%, rgba(255, 201, 51, 0) 100%);
    transform: skewX(-10deg);
  }

  &:hover {

    &::before {
      right: 130% !important;
      transition: right 0.8s;
    }
  }
}

.secondary__btn {
  color: #ffffff;
  font-weight: bold;
  border-radius: 60px;
  //border: 1px solid #99781E;
  background-color: #ff57c6;

  &:hover {
    box-shadow: none;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #121212;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease;

  &__img {
    animation: rotate360 2s linear infinite;
  }
}

.loader.hidden {
  opacity: 0;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.5);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}


.glass {
  background: rgba(255, 255, 255, 0.12);

  //backdrop-filter: blur(20px);
  //-webkit-backdrop-filter: blur(20px);

  /* тонкая белая рамка */
  border: 1px solid rgba(255, 255, 255, 0.6);

  /* мягкое вдавливание */
  //box-shadow:
  //  inset 0 1px 15px rgba(255, 255, 255, 0.9),
  //  inset 0 -4px 10px rgba(0, 0, 0, 0.08);
  //

  box-shadow:
    inset -1px -1px 3px rgba(255, 255, 255, 0.9),
    inset 3px 3px 8px rgba(0, 0, 0, 0.08);
}


