@mixin r($width) {
  @media screen and (max-width: #{$width}px) {
    @content;
  }
}

@mixin rm($width) {
  @media screen and (min-width: #{$width}px) {
    @content;
  }
}

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    @if $asset-pipeline == true {
      src: font-url("#{$file-path}.eot");
      src: font-url("#{$file-path}.eot?#iefix") format("embedded-opentype"), font-url("#{$file-path}.woff") format("woff"), font-url("#{$file-path}.ttf") format("truetype");
    }
    @else {
      src: url("#{$file-path}.eot");
      src: url("#{$file-path}.eot?#iefix") format("embedded-opentype"), url("#{$file-path}.woff") format("woff"), url("#{$file-path}.ttf") format("truetype");
    }
  }
}

@mixin gradient($deg, $start-color, $middle-color, $end-color) {
  background: linear-gradient($deg, $start-color, $middle-color, $end-color);
}

@mixin text-size($min, $max, $lineHeight: 1) {
  font-size: clamp(
    #{$min}px, 
    calc(#{$min}px + (#{$max} - #{$min}) * (100vw - 320px) / (1220 - 320)),
    #{$max}px
  );
  line-height: $lineHeight;
}

@mixin flex($direction: null, $justify: center, $align: center, $gap: 20px, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
}

@mixin border($width: 1px, $style: solid, $color: $important-color, $radius: 0) {
  border: $width $style $color;
  border-radius: $radius;
}

@mixin gradient-border($radius, $color1, $color2, $color3, $width) {
  position: relative;
  border-radius: $radius;
  padding: $width;
  
  &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 0;
      padding: $width;
      background: linear-gradient(93deg, $color1, $color2, $color3);
      -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
      pointer-events: none;
  }
}